@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);@charset "UTF-8";
body{
	font-weight: 400px;
	font-size: 16px;
}
#header ul li a{
	color:#fff;
	font-size:14px;
	text-transform: uppercase;
    font-weight: 400;

}
.quick-menu ul{
	padding: 0px;
}
.quick-menu ul li{
	list-style: none;
}
.quick-menu ul li a{
	text-decoration:none;
}
/* .nav-link{
	color:#fff;
	font-size:14px;
	text-transform: uppercase;
    font-weight: 400;
} */
#content-left{
	padding: 0px;
}
#navbarSupportedContent .menu li{
	
    border-right: 1px solid #fff;
   
}
#navbarSupportedContent ul li a{
	color:#fff;
	font-size:14px;
	text-transform: uppercase;
    font-weight: 400;
    
}
#navbarSupportedContent ul li:hover{
	background: #1b9def;
	
}
.wrapper{
	width: 100%;
}

#content
{
	margin-top: 10px;
}
#content-left .list-group{
	padding-left: 0px; 
}
#content-main .{
	padding-right: 0px; 
}
/* #content-main span{
	background-color:#0685d6;
	padding: 5px;
	border-radius: 2px;
	padding-right: 20px; 
}
 */

.news .border-bidding span {
    border-bottom: 4px #0685d6 solid;
    text-transform: uppercase;
    font-size: 18px;
    color: #0685d6;
    padding-bottom: 0px;
    font-weight: 500;
}
.news ul li a:hover{
	color: #3490dc;
}
.news .border-bidding {
    border-bottom: 1px #0685d6 solid;
    padding-bottom: 0px;
}
.news ul{
	padding: 0;
}
#header .logo{
	margin: 2px 0px 10px 0px;
}

#banner{
	padding: 0px;
}

#search-form {
	background-image: url('/images/backgroundsearchform.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 1110px;
}
#search-form {
	margin-left: 0px;
}
#search-form h4{
	margin-top: 5px;
	font-weight: bold;
}


.border-binding{
	border-bottom: 1px #0685d6 solid;
    padding-bottom: 0px;

}
.border-binding span{
	border-bottom: 4px #0685d6 solid;
    text-transform: uppercase;
    font-size: 18px;
    color: #0685d6;
    padding-bottom: 0px;
    font-weight: 500;
    margin: 0px;
}
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #3490dc !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
#notifi {
	display: block;
}
#notifi #title-notifi{
	display: block;
	background-color: #fff;
	color: red;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 2px;
}
#content-main a{
	text-decoration: none;
}
#notifi #content-notifi
{
	
	text-align: left;
}
#notifi #content-notifi ol{
	padding-left: 21px;
}
#notifi #content-notifi ol li a{
	text-decoration: none;
}
#adv{
	background-image: url('/images/backgroundsearchform.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 250px;
	
}
#adv ul li{
	list-style: none;
	padding: 0px;
}
#adv ul{
	padding: 0px;
}
#adv ul li a{
	text-decoration: none;
	color: #000;
}
#adv h3{
	color: red;
	font-weight: bold;
}
.adv{
	position: absolute;
	display: block;
	margin-top: 30%;
	padding: 2px;
}
.survey ul li{
	list-style: none;
}
.survey ul{
	padding: 0px;
}
.survey ul li input{
	margin-right: 7px;
}
.survey button{
	margin-left: 40px;
}